<div class="mx-auto border rounded-form w-auth h-auth my-20 items-center bg-white">
    <div class="flex flex-col justify-evenly mx-auto w-auth-form h-auth">
      <div>
        <h3 class="text-center text-heading font-bold non-italic">Welcome back!</h3>
        <h4 class="text-center text-subheading font-subheading text-secondblack">Welcome back! Sign in to your<br>
          Busmon
          account</h4>
      </div>
      <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-4">
            <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email',
              class: "appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password',
              class: "appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: "bg-main hover:bg-green-600 text-white font-bold py-2 px-4 mt-4 rounded-full w-full focus:outline-none focus:shadow-outline" %>
          </div>
        <% end %>
      </div>
      <div>
        <div class="grid grid-cols-1 mt-8 place-items-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
</div>
